html,body {
height: 100%;
}  
.banner {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}
.banner img {
  max-width: 100%;
  height: auto;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
body {
	color: #FFFFFF;
	background-color: #1B1E21;
}
p {
	width: 40%;
	border: 5px #202124;
	margin: 0;
	padding: 2px 2px 0 2px;
	line-height: 155%;
	font-family: Verdana,sans-serif;
    font-size: 15px;
}
/*Articles*/
p-1 {
  display: block;
  margin: auto;
  width: 60%;
  font-family: Verdana,sans-serif;
  font-size: 18px;
  line-height: 25px;
  background-color: #23262b;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 10px;
  border-style: solid;
  border-color: #272b30;
  border-width: 2px;
}

p-1 code
{
  padding: 8px;
  margin-bottom: 5px;
  background-color: #33393d;
  border-radius: 8px;
}

p-1 img
{
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
  
p-1 a:link {
  color: #52b9c5;
}

p-1 a:visited {
  color: #52b9c5;
}

p-1 a:hover {
  color: #65bcc5;
}
 

h1 {
	font-family: monospace;
  font-size: 150%;
  line-height: 35px;
  text-align: center;
}
h2  
{
    font-family: monospace;
    font-size: 300%;
    margin: auto;
    width: 60%;
}
h3
{
  font-family: monospace;
  font-size: 150%;
  line-height: 35px; 
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1B1E21; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555555; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Navbar */
nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  background-color: #1f2226;
  font-family: Verdana,sans-serif;
  font-size: 15px;
}

nav-bar li {
  float: left;
}

nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Verdana,sans-serif;
  font-size: 15px;
}

/* Change the link color to #111111 (black) on hover */
nav-bar li a:hover {
  background-color: #111111;
  border-radius: 10px;
}

/* Image gallery */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}