html,body {
height: 100%;
}  
.banner {
  width: 100%;
  height: auto;
}
.banner img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
body {
	color: #FFFFFF;
	background-color: #1B1E21;
}
p {
	width: 40%;
	border: 5px #202124;
	margin: 0;
	padding: 2px 2px 0 2px;
	line-height: 155%;
	font-family: monospace;
}
h1 {
	margin-top: 0;
}
/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1B1E21; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555555; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}